<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/main.css">
    </head>

    <body>

<h2>Information Retrieval</h2>
  <br>
    <form action="/" method="post">
        <label for="query">Enter Query:</label><br>
        <input type="text"  name="queryText"><br><br>
        <button  type="submit">set Query</button>
    </form>
        </body>

        </html>